__pycache__/
.cache/
.coverage
.env/
.idea/
.mypy_cache/
.poetry/
.pytest_cache/
.ruff_cache/
.tox/
.vagrant/
.venv/
*.egg-info/
/setup.py
build/
dist/
htmlcov/
pip-wheel-metadata/
*.log
*.whl
tests/project*/poetry.lock
# created by github codespaces
pythonenv*/
