repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: forbid-tabs
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.700
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --no-site-packages
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]
      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]
